[user]
  name = Ethan Zhao
  email = ethanzhao1981@gmail.com
  username = redmac135

[credential]
  helper = store

[init]
	defaultBranchName = dev
	defaultBranch = dev
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
